body{
    background-color: black;
}

h1{
    color: aliceblue;
}

button{
    height: 80px;
    width: 40px;
    text-align: center;
    padding-top: 0%;
}

.container{
    display: flex;
    align-items: center;
}